extends base.pug

block scripts 
    script(src='index.js') 

block style
    style 
        include ../static/style.css
        //- include ../static/phone.css @media= only screen and (max-width:1287px)
block content 
    section#intro        
            p EAT.SLEEP.DANCE.REPEAT
    section#cardsection 
                //- img(src="/static/youtubr.png")
                div#box1.card 
                    h3 Excellent Moves
                    div.cardbox
                        img(src="/static/1.png")
                        div.content
                           Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum harum laborum ullam, facilis eveniet aut ipsam dolore optio ipsum corrupti expedita dolorem minus tempora quod voluptatem placeat, recusandae doloremque at.
                div#box2.card  
                    h3 World class Teaching
                    div.cardbox
                        img(src="/static/2.png")
                        div.content
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione debitis quaerat repudiandae fugiat nihil saepe ullam eligendi et obcaecati! Amet numquam sunt voluptatum quis architecto quod laboriosam voluptas molestiae fugiat.
                div#box3.card
                    h3 Monthly Faceoff
                    div.cardbox
                        img(src="/static/3.png")
                        div.content
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione debitis quaerat repudiandae fugiat nihil saepe ullam eligendi et obcaecati! Amet numquam sunt voluptatum quis architecto quod laboriosam voluptas molestiae fugiat.
    section#sponser 
            h2 Sponsers
            div#icons 
                a(href='https://instagram.com/i_shobhit_')
                    img(src="/static/instagram-logo-png-2445.png" class= "logo")
                img(src="/static/facebook.png" class= "logo")
                img(src="/static/youtubr.png" class= "logo")
                img(src="/static/whatsapp.png" class= "logo")